In [3]:
pip install faker

Collecting faker
  Using cached Faker-33.1.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: python-dateutil>=2.4 in c:\users\ratnakar\anaconda3\envs\guvi_ds\lib\site-packages (from faker) (2.9.0.post0)
Requirement already satisfied: typing-extensions in c:\users\ratnakar\anaconda3\envs\guvi_ds\lib\site-packages (from faker) (4.11.0)
Requirement already satisfied: six>=1.5 in c:\users\ratnakar\anaconda3\envs\guvi_ds\lib\site-packages (from python-dateutil>=2.4->faker) (1.16.0)
Using cached Faker-33.1.0-py3-none-any.whl (1.9 MB)
Installing collected packages: faker
Successfully installed faker-33.1.0
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp311-cp311-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.23.2 (from pandas)
  Using cached numpy-2.2.1-cp311-cp311-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ratnakar\anaconda3\envs\guvi_ds\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ratnakar\anaconda3\envs\guvi_ds\lib\site-packages (from pandas) (2024.1)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2024.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ratnakar\anaconda3\envs\guvi_ds\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp311-cp311-win_amd64.whl (11.6 MB)
Using cached numpy-2.2.1-cp311-cp311-win_amd64.whl (12.9 MB)
Using cached tzdata-2024.2-py2.py3-none-any.whl (346 kB)
Installing collected packages: tzdata, numpy, pandas
Successfully installed numpy-2.2.1 pandas-2.2.3 tzdata-2024.2
Note: you may need to restart the kernel to use updated packages.

In [8]:
from faker import Faker
import random
import pandas as pd

fake = Faker()

In [22]:
from faker import Faker
import random
import pandas as pd

fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  1
Enter the target year (e.g., 2024):  2024

Sample data for the specified month generated!

In [23]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('January', conn, if_exists='replace', index=False)

100

In [24]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  2
Enter the target year (e.g., 2024):  2024

Sample data for the specified month generated!

In [25]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('February', conn, if_exists='replace', index=False)

100

In [26]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  3
Enter the target year (e.g., 2024):  2024

Sample data for the specified month generated!

In [27]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('March', conn, if_exists='replace', index=False)

100

In [28]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  4
Enter the target year (e.g., 2024):  2024

Sample data for the specified month generated!

In [29]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('April', conn, if_exists='replace', index=False)

100

In [30]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  5
Enter the target year (e.g., 2024):  2024

Sample data for the specified month generated!

In [31]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('May', conn, if_exists='replace', index=False)

100

In [32]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  6
Enter the target year (e.g., 2024):  2024

Sample data for the specified month generated!

In [33]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('June', conn, if_exists='replace', index=False)

100

In [34]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  7
Enter the target year (e.g., 2024):  2024

Sample data for the specified month generated!

In [35]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('July', conn, if_exists='replace', index=False)

100

In [36]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  8
Enter the target year (e.g., 2024):  2024

Sample data for the specified month generated!

In [37]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('August', conn, if_exists='replace', index=False)

100

In [38]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  9
Enter the target year (e.g., 2024):  2024

Sample data for the specified month generated!

In [39]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('September', conn, if_exists='replace', index=False)

100

In [40]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  10
Enter the target year (e.g., 2024):  2024

Sample data for the specified month generated!

In [41]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('October', conn, if_exists='replace', index=False)

100

In [42]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  11
Enter the target year (e.g., 2024):  2024

Sample data for the specified month generated!

In [43]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('November', conn, if_exists='replace', index=False)

100

In [44]:
from faker import Faker
import random
import pandas as pd
fake = Faker()

def generate_expenses(num_entries, month, year):
    categories = ['Food', 'Transportation', 'Bills', 'Groceries', 'Subscriptions', 'Entertainment', 'Miscellaneous']
    payment_modes = ['Cash', 'UPI', 'Credit Card', 'Debit Card', 'NetBanking']
    bills = ['electricity', 'gas', 'water', 'wifi', 'phone']
    subscription = ['spotify', 'wynk', 'prime', 'netflix', 'youtube']
    
    data = []
    for _ in range(num_entries):
        # Generate a random date within the specified month and year
        date = fake.date_between_dates(
            date_start=pd.Timestamp(year, month, 1),
            date_end=pd.Timestamp(year, month, 28)  # Assume 28 days for simplicity
        )
        data.append({
            'Date': date,
            'Category': random.choice(categories),
            'Payment_Mode': random.choice(payment_modes),
            'Description': fake.sentence(nb_words=5),
            'Amount_Paid': round(random.uniform(10, 500), 2),
            'Cashback': round(random.uniform(0, 20), 2) if random.random() > 0.5 else 0.0
        })
    return pd.DataFrame(data)

# User input for month and year
target_month = int(input("Enter the target month (1-12): "))
target_year = int(input("Enter the target year (e.g., 2024): "))

# Generate data
df = generate_expenses(100, target_month, target_year)

# Save to CSV
df.to_csv('expenses_specific_month.csv', index=False)
print("Sample data for the specified month generated!")

Enter the target month (1-12):  12
Enter the target year (e.g., 2024):  2024

Sample data for the specified month generated!

In [45]:
import sqlite3
conn = sqlite3.connect('expenses.db')
df.to_sql('December', conn, if_exists='replace', index=False)

100

In [46]:
import sqlite3

#Connect to the SQLite database (or create it if it doesn't exist)
conn = sqlite3.connect('expenses.db')
cursor = conn.cursor()

#Create the consolidated table if it doesn't already exist
cursor.execute('''
CREATE TABLE IF NOT EXISTS AllMonths (
    Date TEXT,
    Category TEXT,
    Payment_Mode TEXT,
    Description TEXT,
    Amount_Paid REAL,
    Cashback REAL
);
''')
conn.commit()

#List of monthly table names
months = ['January', 'February', 'March', 'April', 'May', 'June', 
          'July', 'August', 'September', 'October', 'November', 'December']
#Loop through each month and copy data into the consolidated table
for month in months:
    try:
        # Copy data from the monthly table to the consolidated table
        cursor.execute(f'''
        INSERT INTO AllMonths
        SELECT * FROM {month};
        ''')
        print(f"Data from {month} table has been added to AllMonths.")
    except sqlite3.OperationalError as e:
        print(f"Error with {month} table: {e}. Skipping this table.")

#Commit the changes
conn.commit()

#Verify the number of rows in the consolidated table
cursor.execute('SELECT COUNT(*) FROM AllMonths;')
row_count = cursor.fetchone()[0]
print(f"Total rows in AllMonths table: {row_count}")

#Close the connection
conn.close()

Data from January table has been added to AllMonths.
Data from February table has been added to AllMonths.
Data from March table has been added to AllMonths.
Data from April table has been added to AllMonths.
Data from May table has been added to AllMonths.
Data from June table has been added to AllMonths.
Data from July table has been added to AllMonths.
Data from August table has been added to AllMonths.
Data from September table has been added to AllMonths.
Data from October table has been added to AllMonths.
Data from November table has been added to AllMonths.
Data from December table has been added to AllMonths.
Total rows in AllMonths table: 2400

In [47]:
import sqlite3
import pandas as pd

# Connect to the database
conn = sqlite3.connect('expenses.db')

# Load the table into a Pandas DataFrame
df = pd.read_sql_query("SELECT * FROM AllMonths;", conn)

# Display the DataFrame
print(df)

# show as a table in Jupyter Notebook
from IPython.display import display
display(df)

# Close the connection
conn.close()

            Date        Category Payment_Mode  \
0     2024-07-05            Food  Credit Card
1     2024-07-27   Entertainment   Debit Card
2     2024-05-22  Transportation   Debit Card
3     2024-11-19   Miscellaneous   NetBanking
4     2024-02-05       Groceries  Credit Card
...          ...             ...          ...
2395  2024-12-21  Transportation          UPI
2396  2024-12-21           Bills  Credit Card
2397  2024-12-19   Entertainment   NetBanking
2398  2024-12-05            Food  Credit Card
2399  2024-12-08   Subscriptions   Debit Card

                                   Description  Amount_Paid  Cashback
0                             Thing field age.       495.29      1.29
1       Mother environment available yet data.       279.09     17.53
2       Realize name car certain result which.       442.73     15.06
3                    Threat receive move race.        62.16      7.74
4                    Perform husband approach.       479.77      8.33
...                                        ...          ...       ...
2395  Low brother clearly series check either.       127.18      0.00
2396     Design plan here letter theory treat.       226.03      6.44
2397           Assume happy investment across.       328.52      0.00
2398                         Congress low act.       488.50      0.00
2399  Fill control property each hand involve.       402.34      0.00

[2400 rows x 6 columns]

,Date,Category,Payment_Mode,Description,Amount_Paid,Cashback
0,2024-07-05,Food,Credit Card,Thing field age.,495.29,1.29
1,2024-07-27,Entertainment,Debit Card,Mother environment available yet data.,279.09,17.53
2,2024-05-22,Transportation,Debit Card,Realize name car certain result which.,442.73,15.06
3,2024-11-19,Miscellaneous,NetBanking,Threat receive move race.,62.16,7.74
4,2024-02-05,Groceries,Credit Card,Perform husband approach.,479.77,8.33
...,...,...,...,...,...,...
2395,2024-12-21,Transportation,UPI,Low brother clearly series check either.,127.18,0.00
2396,2024-12-21,Bills,Credit Card,Design plan here letter theory treat.,226.03,6.44
2397,2024-12-19,Entertainment,NetBanking,Assume happy investment across.,328.52,0.00
2398,2024-12-05,Food,Credit Card,Congress low act.,488.50,0.00
2399,2024-12-08,Subscriptions,Debit Card,Fill control property each hand involve.,402.34,0.00

In [48]:
import sqlite3
import pandas as pd

# Connect to the SQLite database
conn = sqlite3.connect('expenses.db')

# Load the data from the AllMonths table into a Pandas DataFrame
df = pd.read_sql_query("SELECT * FROM AllMonths;", conn)

# Save the DataFrame as a CSV file
csv_file_path = "all_months_expenses.csv"
df.to_csv(csv_file_path, index=False)

# Close the database connection
conn.close()

print(f"Data exported successfully to {csv_file_path}")

Data exported successfully to all_months_expenses.csv

In [49]:
# Further queries were run on MySQL workbench

In [50]:
import mysql.connector

In [51]:
from getpass import getpass
from mysql.connector import connect, Error

In [52]:
try:
    with connect(
        host = "localhost",
        user = input("Enter username"),
        password = getpass("Enter password: "),
    ) as connection:
        print(connection)
except Error as e:
    print(e)

Enter username root
Enter password:  Â·Â·Â·Â·Â·Â·Â·Â·

<mysql.connector.connection_cext.CMySQLConnection object at 0x0000022C17991390>

In [53]:
# Data visulaisation was done on VScode using streamlit